.map-container {
  margin-top: 20px;
  height: 500px;
  width: 100%;
}
.leaflet-container {
  height: 500px;
  width: 100%;
  position: relative;
}

.leaflet-draw-toolbar a {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 1px;
  color: #333333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.leaflet-draw-toolbar a:hover {
  background-color: #f0f0f0;
}

.leaflet-draw-toolbar .leaflet-draw-section {
  margin-bottom: 10px;
}

.leaflet-draw-actions a {
  text-decoration: none;
  color: #0078d4;
}

.leaflet-draw-actions a:hover {
  color: #005a9e;
  text-decoration: underline;
}

.leaflet-edit-move, .leaflet-edit-resize {
  fill: #ff7800;
  stroke: #ff7800;
}

.leaflet-edit-vertex {
  fill: #ffffff;
  stroke: #ff7800;
  cursor: pointer;
}

.leaflet-control-container .leaflet-top.leaflet-left {
  top: 80px;
}
.leaflet-control-attribution {
 visibility: hidden !important;
}
